@import 'theme';


.carousel .carousel-item {
  width:300px !important;
  margin-top: -80px !important;
}
.clients {
    @media #{$mobileS, $mobileL} {
        background: url('../images/client_Bg_Sm.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        padding: 40px 20px 40px 20px;
    }
    padding: 50px 100px 100px 100px;
    display: flex;
    flex-direction: column;
}
.section4__title {
    @media #{$mobileS, $mobileL} {
        margin-bottom: 30px;
    }
    margin-bottom: 50px;
    h6 {
        font-size: 16px;
        font-weight: 700;
    }
}
.section4__images {
    @media #{$mobileS, $mobileL} {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
    }
    @media #{$tablet} {
        margin-top: 0px;
        margin: -30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    @media #{$desktopS, $desktopM, $desktopL} {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -30px;
    }
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

