@import 'theme';

.section3__guide{
    width: 100%;
    padding: 40px 20px 50px 20px;
    .card-content{
        @media #{$mobileS, $mobileL} {
            p {
                font-size: 16px;
            }
        }
    }
    .cardtitle {
        width: 100%;
        display: flex;
        flex-direction: row;
        background: white;
    }
   span {
        width: 10px;
        background: pink;
        padding: 10px;
        height: auto;
        margin-right: 20px;
    }
    
}

